<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changgeng.mapper.ModelingConfigMapper">

    <select id="getTagsOfModel" resultType="map">
        SELECT modeling_id, tagname
        FROM modelingconfig
        WHERE modeling_id IN (
            SELECT DISTINCT modeling_id FROM modelingconfig WHERE tagname = #{tagName}
        )
        ORDER BY modeling_id, tagname
    </select>

</mapper>
